table{
    background-color: lightyellow;
    border: 2pt solid black;
    margin: 0 auto;
    text-align: center;

}
table tr{
    align-self: center;
}
table [type=button]{
    width: 40px;
}
.especiales [type=button]{
    width: 50px;
    color: red;
}
#panel{
    background-color: white;
    text-align: right;
    border: 2pt solid black;
}
